<!DOCTYPE html>
<html>
<head>
    <title><%= khoa %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/angular.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <script src="/release/angular-ui-router.min.js"></script>


</head>
<body ng-app="Faculty">
<div class="container">
    <div class="row">
        <div class="col-sm-1" style="margin-top: 20px ">
            <img src="/img/logo_fituet.png"/>
        </div>
        <div class="col-sm-9">
            <h2><strong><%= khoa %></strong></h2>
            <h3>Trường Đại học Công Nghệ &#8211 Đại học Quốc gia Hà Nội</h3>
        </div>
        <div class="col-sm-2" style="margin-top: 10px ">
            <img src="/img/uet_logo.png"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group leftbar">
                <a class="list-group-item" ui-sref="home">Giới thiệu</a>
                <a class="list-group-item" ui-sref="lecturer">Thông tin giảng viên</a>
                <a class="list-group-item" ui-sref="course">Thông tin khoá học</a>
                <a class="list-group-item" ui-sref="courseprogram">Chương trình đào tạo</a>
                <a class="list-group-item" ui-sref="students">Thông tin sinh viên</a>
                <a class="list-group-item" ui-sref="register_dissertation">Mở đăng kí đề tài </a>
                <a class="list-group-item" ui-sref="dissertation">Khoá luận tốt nghiệp</a>
                <a class="list-group-item" ui-sref="registed">Danh sách đề tài đã đăng kí</a>
            </div>
        </div>
        <div class="col-sm-10">
            <div ui-view=""></div>
        </div>
    </div>
</div>
<script src="/js/faculty.js"></script>
</body>
</html>
