<h3>Chọn các lĩnh vực liên quan</h3>
<form ng-submit="upDate()">
    <div>
        <ul>
            <li><input type="checkbox" ng-change="">Trí tuệ nhân tạo </li>
            <li><input type="checkbox" ng-change="">Trí tuệ nhân tạo </li>
            <li><input type="checkbox" ng-change="">Trí tuệ nhân tạo </li>
            <li><input type="checkbox" ng-change="">Trí tuệ nhân tạo </li>
        </ul>
    </div>
    <div>
        <input class="btn btn-info" type="button" value="Update" ng-click="update()">
    </div>
</form>