<h3><strong>Chao mung ban den voi khoa <%= khoa %></strong></h3><br>
Địa chỉ: Phòng 3xx nhà E3 - 144 Xuân Thuỷ, Cầu Giấy, Hà Nội<br>
Số điện thoại: <br>
Fax:04 39848844 <br>
Email:fit.uet@gmail.com<br>
<img src="/img/bannerIT.jpg" style="height:300px;width:100%;">
