<h3>Đăng kí đề tài khoá luận</h3>
<div class="form-group">
    <div class="col-sm-10">
        <form action="/update/detai" method="post">
            Tên đề tài:<br>
            <input type="text" required="true" name='detai' class="form-control">
            Giảng viên:<br>
            <select name="MaGv" required="true" class="form-control">
                <% gvs.forEach(function(gv){ %>
                    <option value=<%= gv.MaGv %>> <%=gv.HoTen%></option>
                 <% }); %>
            </select>
            <br>
            <input type="submit" value="Cập nhật" class="btn btn-info"">
        </form>
    </div>
</div>
