<h4>KHOA CÔNG NGHỆ THÔNG TIN</h4>
<em>địa chỉ: tòa nhà E3 - số 144 Xuân Thủy - Cầu Giấy - Hà Nội <br>
    sđt: 123456789
</em>
<h3><u>Chào mừng đến với khoa công nghệt thông tin</u></h3>
<p>Được thành lập vào năm 1995 nhưng Khoa CNTT có truyền thống hơn 50 năm phát triển từ năm 1965
    với việc đào tạo chuyên ngành Máy tính tại Khoa Toán Cơ thuộc Trường Đại học Tổng hợp Hà Nội.
    Với sự nỗ lực cố gắng của tập thể các cán bộ giảng viên, các thế hệ sinh viên,
    học viên và nghiên cứu sinh; dưới sự chỉ đạo sát sao, ủng hộ và tạo điều kiện của các thế hệ
    lãnh đạo Trường ĐHCN và ĐHQGHN, Khoa CNTT ngày hôm nay đã đạt được nhiều thành tích nổi bật
    trong hoạt động đào tạo, bồi dưỡng nhân tài và nghiên cứu khoa học tiếp cận trình độ tiên
    tiến trong khu vực và thế giới.
</p>