<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Khoa</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/faculty_style.css">
    <script src="/angular.js"></script>
    <script src="/angular-route.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
</head>
<body ng-app="faculty">
<nav class="header">
    <div class="faculty_logo" style="float: left; padding:10px 40px 10px 0;">
        <img src="img/logo_fituet.png" height="90" width="90"/>
    </div>
    <div class="title" style="float: left; padding: auto;">
        <h2>DANH SÁCH CÁC KHOA</h2>
        <p>Trường đại học Công Nghệ</p>
    </div>
    <div class="uet_logo pull-right" style="float: left; padding:10px 40px 10px 0;">
        <img src="img/uet_logo.png" height="90" width="90"/>
    </div>
</nav>

<hr width="100%" align="left" size="5px"/>
<!--<nav class="main-nav">-->
    <!--<div class="container clearfix">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<a href="#/" class="menu-item">-->
                    <!--<h5 class="list-group-item-heading">Khoa công nghệ công tin</h5>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<div class="t_body container">
    <div class="faculty_list col-sm-3">
        <strong><p style="padding-left: 5px;">Các khoa</p></strong>
        <div class="list-group">
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Khoa công nghệ công tin</h5>
            </a>
            <a href="#/DTVT" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Khoa điện tử viễn thông</h5>
            </a>
            <a href="#/CHKT" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Khoa cơ học kỹ thuật & tự động hóa</h5>
            </a>
            <a href="#/VLKT" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Khoa vật lí kỹ thuật & công nghệ nanô</h5>
            </a>
        </div>
    </div>
    <div class="faculty_info col-sm-6">
        <div ng-view=""></div>
    </div>
</div>
<script src="js/app.js"></script>
</body>
</html>