<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>
    <% include nav %>
    <div class = "row">
        <h1 style="color:white;">TRƯỜNG ĐẠI HỌC CÔNG NGHỆ</h1>
        <button class="btn btn-lg btn-primary" >UET THESIS</button>
    </div>
</body>

</html>
