<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Trang chủ</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/faculty">Khoa</a></li>
                <li><a href="/">Lĩnh vực</a></li>
                <li><a href="/lecturer">Giảng viên</a></li>
                <li class="dropdown">
                    <li data-toggle="dropdown"><a href="#"><%= name %></a></li>
                    <ul class="dropdown-menu">
                      <li><a href="/admin">Profile</a></li>
                      <li><a href="/logout">Logout!</a></li>
                    </ul>
                  </div>
            </ul>
        </div>
    </div>
</nav>
