<table class="table table-bordered">
    <thead>
    <th>Họ tên</th>
    <th>Mã giảng viên</th>
    <th>Khoa</th>
    <th>Phòng TN</th>
    <th>Vnu mail</th>
    <th>Lĩnh vực nghiên cứu</th>
    <th>Chỉnh sửa thông tin</th>
    </thead>
    <tbody>
    <td>Lê Đình Thanh</td>
    <td>12000000</td>
    <td>Công nghệ thông tin</td>
    <td>Lab</td>
    <td>thanhld@vnu.edu.vn</td>
    <td>
    </td>
    <td>
        <i class="fa fa-pencil-square-o btn btn-info" aria-hidden="true" ></i>
    </td>

    </tbody>
</table>