<table class="table table-bordered">
    <thead>
    <th>Họ tên</th>
    <th>Mã sinh viên</th>
    <th>Khoa</th>
    <th>Ngành</th>
    <th>Vnu mail</th>
    <th>Chỉnh sửa thông tin</th>
    </thead>
    <tbody>
   <tr style="height: 100px">
       <td>Lê Đình Thanh</td>
       <td>12000000</td>
       <td>Công nghệ thông tin</td>
       <td>Công nghệ thông tin</td>
       <td>thanhld@vnu.edu.vn</td>
       <td>
           <i class="fa fa-pencil-square-o btn btn-info" aria-hidden="true" ></i>
       </td>
   </tr>
    </tbody>
</table>