<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UET Students </title>
    <script src="../../bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <link rel="stylesheet" href="../../public/css/faculty.css">
    <link rel="stylesheet" href="../../bower_components/font-awesome-4.7.0/css/font-awesome.css">


</head>
<body ng-app="admin_student">
<div class="container">
    <div class="row">
        <div class="col-sm-1" style="margin-top: 20px ">
            <img src="../../public/img/uet_logo.png" height="90" width="90"/>
        </div>
        <div class="col-sm-9">
            <h2><strong>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ</strong></h2>
            <h2><strong>ĐẠI HỌC QUỐC GIA HÀ NỘI</strong></h2>
        </div>
        <div class="col-sm-2" style="margin-top: 10px ">
            <img src="../../public/img/logo_vnu.png" height="108" width="103"/></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group leftbar">
                <a class="list-group-item" href="#/">Thông tin cá nhân</a>
                <a class="list-group-item" href="#register_dissertation">Đăng kí đề tài</a>
            </div>
        </div>
        <div class="col-sm-10">
            <div ng-view=""></div>
        </div>
    </div>
</div>
<script src="admin_student.js"></script>
</body>
</html>