<ul class="list-group">
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br><li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
    <li class="list-group-item"><a href="#">truyen thong va mang may tinh</a> </li><br>
</ul>
