<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Detail</title>
</head>
<body>
    <% include nav %>
    <div class="container">
        <h2>Lĩnh vực <%= TenLv %></h2>
        <ul>
            <% gvs.forEach(function(gv){ %>
               <li class="list-group-item"><a class="tree-toggle1" href="/profile/<%=gv.MaGv%>"><%=gv.HoTen%></a></li>
             <% }); %>
        </ul>
    </div>



</body>
</html>
