<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giang vien</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/lecturer_style.css">

    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/angular.js"></script>
    <script src="/release/angular-ui-router.js"></script>
</head>
<body ng-app="lecturer">
<nav class="header">
    <h2>DANH SÁCH GIẢNG VIÊN</h2>
    <p>Trường đại học Công Nghệ</p>
</nav>

<hr width="100%" align="left" size="5px"/>

<div class="t_body container">
    <div class="filter col-sm-3">
        <p>tìm kiếm theo tên giảng viên</p>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="search for">
            <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
        </div>
        <br/>

        <p>hoặc tìm kiếm theo khoa</p>
        <div class="list-group">
            <a ui-sref="cntt" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Khoa công nghệ công tin</h5>
            </a>
            <a ui-sref="dtvt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Điện tử viễn thông</h5>
            </a>
            <a ui-sref="ckt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Cơ kỹ thuật</h5>
            </a>
            <a ui-sref="vlkt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Vật lý kỹ thuật</h5>
            </a>
        </div>
    </div>
    <div class="list_lecturers col-sm-6">
        <div ui-view></div>
    </div>
</div>
<script src="/js/lecturer_common.js"></script>
</body>
</html>
