<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lecturers</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/css/lecturer_style.css">-->
    <!--<script src="/angular.js"></script>-->
    <!--<script src="/angular-route.js"></script>-->

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/lecturer_style.css">
    <script src="../../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../node_modules/angular-ui-router/node_modules/angular/angular.min.js"></script>
    <script src="../../public/js/lecturer_common.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
</head>
<body ng-app="lecturer">
<nav class="header">
    <h2>DANH SÁCH GIẢNG VIÊN</h2>
    <p>Trường đại học Công Nghệ</p>
</nav>

<hr width="100%" align="left" size="5px"/>

<div class="t_body container">
    <div class="filter col-sm-3">
        <p>tìm kiếm theo tên giảng viên</p>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="search for">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
            </span>
        </div>
        <br/>

        <p>hoặc tìm kiếm theo khoa</p>
        <div class="list-group">
            <a ui-sref="cntt" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Khoa công nghệ công tin</h5>
            </a>
            <a ui-sref="dtvt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Điện tử viễn thông</h5>
            </a>
            <a ui-sref="tt&mmt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Truyền thông và mạng máy tính</h5>
            </a>
            <a ui-sref="httt" class="list-group-item list-group-item-action ">
                <h5 class="list-group-item-heading">Hệ thống thông tin</h5>
            </a>
        </div>
    </div>
    <div class="list_lecturers col-sm-6">
        <div ui-view></div>
    </div>
</div>
</body>
</html>
