<!DOCTYPE html>
<html>
<head>
    <title>KHOA CÔNG NGHỆ THÔNG TIN Trường Đại học Công Nghệ </title>
    <meta charset="utf-8">
    <script src="../../../bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/faculty.css">
    <script src="../../../bower_components/angular-route/angular-route.js"></script>
</head>
<body ng-app="Faculty">
<div class="container">
    <div ng-view=""></div>
</div>
</body>
</html>