<div class="header">
    <img src="../../../images/logo_fituet.png">
</div>
<div class="header">
    <h1>KHOA CÔNG NGHỆ THÔNG TIN</h1>
    <h2>Trường Đại học Công Nghệ &#8211 Đại học Quốc gia Hà Nội</h2>
</div>
<div class="header">
    <img src="../../../images/uet_logo.png" height="90" width="90"/>
</div>
<div class="container-fluid">
    <div class="list-group leftbar">
        <a class="list-group-item" href="#">Giới thiệu</a>
        <a class="list-group-item" href="#lecturer">Thông tin giảng viên</a>
        <a class="list-group-item" href="#course">Thông tin khoá học</a>
        <a class="list-group-item" href="#courseprogram">Chương trình đào tạo</a>
        <a class="list-group-item" href="#students">Thông tin sinh viên</a>
        <a class="list-group-item" href="#dissertation">Khoá luận tốt nghiệp</a>
        <a class="list-group-item" href="#register_dissertation">Mở đăng kí đề tài </a>
    </div>
    <div class="content">
        <p>
        <h3>Chào mừng đến với Khoa CNTT/h3><br>
            Địa chỉ: 3xx nhà E3 - 144 Xuân Thuỷ, Cầu Giấy, Hà Nội<br>
            Số điện thoại: <br>
            Fax: <br>
            Email:
        </p>
    </div>
    <div class="rightbar">
    </div>
</div>