<!DOCTYPE html>
<html>

<head>
    <title>Đổi mật khẩu!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/angular.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <script src="/release/angular-ui-router.min.js"></script>

</head>

<body>
    <div class="container">
        <form action="/changepassword" method="post">
            Old password:<br>
            <input type="text" name="old">
            <br>
            Password:<br>
            <input type="text" name="pass">
            <br>
            Repassword:<br>
            <input type="text" name="re">
            <br>
            <input type="submit" value="Submit">
        </form>
        <p>Submit để đổi mật khẩu!</p>
    </div>


</body>

</html>
