<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="../js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Giới thiệu</a></li>
    <li><a data-toggle="tab" href="#menu1">Bộ môn</a></li>
    <li><a data-toggle="tab" href="#menu2">Phòng thí nghiệm</a></li>
    <li><a data-toggle="tab" href="#menu3">Văn phòng khoa</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h4>KHOA CÔNG NGHỆ THÔNG TIN</h4>
        <em>Địa chỉ: tòa nhà E3 - số 144 Xuân Thủy - Cầu Giấy - Hà Nội <br>
            Sđt: 0123456789
        </em>
        <hr width="30%" color="#ddd" align="left">
        <img src="/img/bannerIT.jpg" class="img-responsive">
        <h3>Chào mừng đến với khoa công nghệ thông tin</h3>
        <p>Được thành lập vào năm 1995 nhưng Khoa CNTT có truyền thống hơn 50 năm phát triển từ năm 1965
            với việc đào tạo chuyên ngành Máy tính tại Khoa Toán Cơ thuộc Trường Đại học Tổng hợp Hà Nội.
            Với sự nỗ lực cố gắng của tập thể các cán bộ giảng viên, các thế hệ sinh viên,
            học viên và nghiên cứu sinh; dưới sự chỉ đạo sát sao, ủng hộ và tạo điều kiện của các thế hệ
            lãnh đạo Trường ĐHCN và ĐHQGHN, Khoa CNTT ngày hôm nay đã đạt được nhiều thành tích nổi bật
            trong hoạt động đào tạo, bồi dưỡng nhân tài và nghiên cứu khoa học tiếp cận trình độ tiên
            tiến trong khu vực và thế giới.
        </p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="list-group">
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Các Hệ thống Thông tin</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Công nghệ Phần mềm</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Khoa học Máy tính</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Khoa học và Kỹ thuật tính toán</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Mạng và Truyền thông Máy tính</h5>
            </a>
            <br>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="list-group">
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">An toàn thông tin</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Công nghệ Tri thức</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Hệ thống Nhúng</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Tương tác Người – Máy</h5>
            </a>
            <br>
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Văn phòng khoa tại:</h3>
        <p>Phòng 303-E3</p>
    </div>
</div>
