<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Giới thiệu</a></li>
    <li><a data-toggle="tab" href="#menu1">bộ môn</a></li>
    <li><a data-toggle="tab" href="#menu2">phòng thí nghiệm</a></li>
    <li><a data-toggle="tab" href="#menu3">văn phòng khoa</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h4>KHOA VẬT LÝ KỸ THUẬT & CÔNG NGHỆ NANÔ</h4>
        <em>địa chỉ: tòa nhà E3 - số 144 Xuân Thủy - Cầu Giấy - Hà Nội <br>
            sđt: 123456789
        </em>
        <hr width="30%" color="#ddd" align="left">
        <img src="/img/bannerIT.jpg" class="img-responsive">
        <h3>Chào mừng đến với khoa Vật lý kỹ thuật và Công nghệ Nano</h3>
        <!--giới thiệu về khoa-->
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="list-group">
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Bộ môn Các Hệ thống Thông tin</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Bộ môn Công nghệ Phần mềm</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Bộ môn Khoa học Máy tính</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Bộ môn Khoa học và Kỹ thuật tính toán</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Bộ môn Mạng và Truyền thông Máy tính</h5>
            </a>
            <br>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="list-group">
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Phòng Thí nghiệm An toàn thông tin</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Phòng Thí nghiệm Công nghệ Tri thức</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Phòng Thí nghiệm Hệ thống Nhúng</h5>
            </a>
            <br>
            <a href="#/" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">Phòng Thí nghiệm Tương tác Người – Máy</h5>
            </a>
            <br>
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Văn phòng khoa</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
</div>
